.section {
  margin-top: 12px; }
  .section .section-title {
    font-size: 28px;
    justify-content: center;
    display: flex;
    padding: 12px; }
  .section .section-body {
    padding-top: 12px;
    padding-bottom: 12px; }
